body {
    font-family: Arial;
    background: white;
}

.box {
    width: 90%;
    border: 2px solid gray;
    margin: 40px auto;
    padding: 10px;
}


.header {
    width: 100%;
    background: #ddd;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.header h3 {
    margin: 0;
    color: #7a0000;
    font-size: 16px;
}
.menu {
    display: flex;
    gap: 10px;
    margin: 20px 10px;
}

.menu a {
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    font-size: 14px;
}

.menu1 a {
    background: #cce6ff;
}


.menu2 a {
    background: #d5f5d5;
}